
$color-text-main: #132740;
$color-text-sub: #4d5c6f;
$color-main: #546dd3;
$color-main-dark: #374b99;
$color-line: #d7e2ec;
$color-tags: #f8f8ff;
$color-ratings: #ffda20;
$main-background-color: #354da3;
$color-tint-blue:  #103e83;
$color-dim-blue:  #214a73;
$color-text-main-grey: #214a73;
$color-light-grey: #e7eef4;
$color-grey: #808080;
$color-light-blue: #e2f0ff;
$color-white: #fefefe;
$color-text-main-white: #afc4d9;
$color-footer-blue: #191c29;
$color-black: #111b25;
$color-black-transparent: rgba($color-black, 0.75);

$color-gold: #ffd700;
$color-red: #F30032;
$color-green: #07b63e;

$body-color: $color-text-main;
$min-contrast-ratio: 4.5;
$color-contrast-dark: $color-text-main;
$color-contrast-light: $color-white;

$xs: 0;
$xsm: 360px;
$sm: 576px;
$md: 800px;
$lg: 1200px;
$lgm: 1280px;
$xl: 1500px;
$xxl: 1920px;

$grid-breakpoints: (
	xs: $xs,
	xsm: $xsm,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$theme-colors: (
	'gold': $color-gold,
	'danger': $color-red,
	'success': $color-green,
	'sub': $color-text-sub,
	'main': $color-text-main,
	'main-blue': $color-main,
	'line': $color-line,
	'tags': $color-tags,
	'info': #0dcaf0,
	'warning': #ffc107,
	'blue': $color-text-main,
	'primary-blue': $color-main,
	'light-blue': $color-light-blue,
	'blue-grey': $color-text-main-grey,
	'light-grey': $color-line,
	'grey': $color-text-sub,
	'black': $color-black,
	'white': $color-white
);

$spacer-values: (0,1,2,3,4,5);
$spacers: ();

@each $key in $spacer-values {
	$spacers: map-merge(
		$spacers,
		(
			'#{$key}': #{$key}rem,
			'#{$key}-25': #{$key + 0.25}rem,
			'#{$key}-5': #{$key + 0.5}rem,
			'#{$key}-75': #{$key + 0.75}rem,
			'n#{$key}': #{0 - $key}rem,
			'n#{$key}-25': #{0 - 0.25 - $key}rem,
			'n#{$key}-5': #{0 - 0.5 - $key}rem,
			'n#{$key}-75': #{0 - 0.75 - $key}rem
		)
	);
}

$border-radius-lg: 0.5rem;

@function vh($quantity) {
	@return calc(var(--vh, 1vh) * #{$quantity});
}

.hide-scrollbar {
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
