$color-dark: #132740;
$color-footer-dark: #191c29;
$color-sub: #4d5c6f;
$color-primary: #546dd3;
$color-primary-dark: #374b99;
$color-line: #d7e2ec;
$color-tags: #f8f8ff;

$color-white: #fefefe;
$color-black: #111b25;
$color-gold: #ffda20;
$color-red: #f30032;
$color-green: #07b63e;

$body-color: $color-dark;
$min-contrast-ratio: 4.5;
$color-contrast-dark: $color-dark;
$color-contrast-light: $color-white;

$xs: 0;
$sm: 360px;
$mmd: 575px;
$md: 768px;
$lg: 1280px;
$xl: 1600px;

$grid-breakpoints: (
	xs: $xs,
	sm: $sm,
	mmd: $mmd,
	md: $md,
	lg: $lg,
	xl: $xl
);

$font-weight-regular: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;

$theme-colors: (
	'danger': $color-red,
	'success': $color-green,
	'info': #0dcaf0,
	'warning': #ffc107,
	'dark': $color-dark,
	'footer-dark': $color-footer-dark,
	'primary': $color-primary,
	'primary-dark': $color-primary-dark,
	'line': $color-line,
	'tags': $color-tags,
	'sub': $color-sub,
	'gold': $color-gold,
	'black': $color-black,
	'white': $color-white
);

$spacer-values: (0,1,2,3,4,5);
$spacers: ();

@each $key in $spacer-values {
	$spacers: map-merge(
		$spacers,
		(
			'#{$key}': #{$key}rem,
			'#{$key}-25': #{$key + 0.25}rem,
			'#{$key}-5': #{$key + 0.5}rem,
			'#{$key}-75': #{$key + 0.75}rem,
			'n#{$key}': #{0 - $key}rem,
			'n#{$key}-25': #{0 - 0.25 - $key}rem,
			'n#{$key}-5': #{0 - 0.5 - $key}rem,
			'n#{$key}-75': #{0 - 0.75 - $key}rem
		)
	);
}

$border-radius-lg: 0.5rem;
$body-max-width: 1920px;

@function vh($quantity) {
	@return calc(var(--vh, 1vh) * #{$quantity});
}

.hide-scrollbar {
	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
