@import 'variables';
@import 'layouts';
@import '~bootstrap/scss/bootstrap';

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';

h1, h2, h3 {
	font-weight: bold !important;
}

.btn{
	padding: 0.5rem 1rem;
}

.label {
	font-size: 1em;
	line-height: 1.5;
	font-weight: 600;
}
.label-sm {
	font-size: .875rem;
	line-height: 1.5;
	font-weight: 500;
}

.form-group {
	min-width: auto;
	max-width: 100%;
}

input.form-control, textarea.form-control {
	font-size: 1.125em;
	padding: 1.25em;
	min-height: 3em;
}
.form-control, .form-control:focus{ background: inherit; }

a {
	cursor: pointer;
	color: inherit;
	&:hover {
		color: $color-red;
		font-size: 1.02em;
		transition: all 0.2s;
		transform: scale(1.05);
	}
}

.dropdown-menu-full{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	min-height: 100vh;
}

.editor-container {
	margin-bottom: 0.5rem;
	*{
		max-width: 100%;
	}
}

.editor-body {
	p {
		margin-bottom: 0.5rem;
	}
}

hr {
	background: $color-light-grey;
}

div.thick {
	height: 3px;
	background: $color-light-grey;
	margin: 1rem 0;
}
div.thin {
	height: 3px;
	background: $color-light-grey;
	margin: 0.5rem 0;
}

hr.thick {
	height: 2px;
}

hr.thin {
	height: 1.5px;
	margin: 0.5rem 0;
}

.text-18 {
	font-size: 18px;
}

.firebase-emulator-warning {
	display: none !important;
}

.hide-scrollbar {
	-ms-overflow-style: none;
	&::-webkit-scrollbar{
		display: none;
	}
}

.cursor-pointer { cursor: pointer; }
