.layout-body {
	min-height: 100vh;
	margin: 0 auto;
	max-width: 2000px;
	display: flex;
	flex-direction: column;
	@media (min-width: $lg) {
		flex-direction: row;
	}
}
.layout-side-left {
	display: none;
	background-color: $color-blue;
	padding: 0.5rem;
	@media (min-width: $lg) {
		width: 25%;
		max-width: 400px;
		display: block;
	}
	@media (min-width: 1050px) {
		padding: 1rem;
	}
}
.layout-side-right {
	width: 100%;
	padding: 0 0.5rem 0.5rem;
	@media (min-width: $md) {
		padding: 0 1rem 1rem;
	}
	@media (min-width: $lg) {
		background-color: $color-white;
		width: 25%;
		padding: 0.5rem;
		max-width: 400px;
		font-size: 0.9rem;
		margin: 0 0 0 auto;
	}
}
.layout-main {
	padding: 0.5rem;
	@media (min-width: $md) {
		padding: 1rem;
	}
	@media (min-width: $lg) {
		padding: 0.5rem;
		flex-grow: 1;
	}
}
.layout-content {}

.sidebar-body {
	display: flex;
	flex-direction: column;
	color: $color-light-blue;
}
.sidebar-links {
	display: flex;
	flex-direction: column;
}
.sidebar-link {
	padding: 0.75rem 1rem;
	margin: 0.25rem 0;
	display: flex;
	align-items: center;
	font-weight: 500;
	img {
		height: 24px;
		width: 24px;
	}
	span {
		font-size: 18px;
		margin-left: 0.75rem;
	}
}
.sidebar-link-active {
	font-weight: 600;
	background: $color-light-blue;
	color: $color-blue;
	border-radius: 1rem;
	img { filter: brightness(80%); }
}

.top-nav {
	display: flex;
	align-items: center;
	background: $color-blue;
	color: $color-white;
	padding: 0.5rem 0.75rem;
	margin: -0.5rem -0.5rem 0.5rem;
	@media (min-width: $md) {
		margin: -1rem -1rem 1rem;
	}
	@media (min-width: $lg) {
		padding: 0;
		margin: 0 0 0.5rem;
		background: $color-white;
		$color: $color-blue-grey;
		border-radius: 1rem;
	}
	button.navbar-toggler {
		border-radius: 0;
		color: $color-white;
		margin-right: 0.5rem;
		@media (min-width: $lg) {
			display: none;
		}
	}
}
.question-top-nav {
	display: flex;
	align-items: center;
	background: $color-blue;
	color: $color-white;
	padding: 0.5rem 0.75rem;
	button.navbar-toggler {
		border-radius: 0;
		color: $color-white;
		margin-right: 0.5rem;
		@media (min-width: $lg) {
			display: none;
		}
	}
}
.page-content {
	background: $color-white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 20px rgba($color-blue, 0.07);
	@media (min-width: $md) {
		padding: 1rem;
		border-radius: 0.75rem;
	}
	@media (min-width: $lg) {
		padding: 1.5rem;
		border-radius: 1rem;
	}
}
