body {
	font-family: 'Nunito Sans', sans-serif !important;
	max-width: 100vw;
	// font-size: clamp(16px, calc(1rem + 20%), 30px) !important;
}

.logo {
	margin: 31px 0;
}

.layout-page {
	display: flex;
	flex-direction: column;
	min-height: vh(100);
}

.layout-body {
	width: 100%;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.layout-side-left {
	display: none;
	flex-direction: column;
	width: 16.25%;
	border-right: 1px solid $color-line;
	padding: 3rem 0;
	@media (min-width: $lg) { display: flex; }
}

.layout-side-right {
	display: none;
	flex-direction: column;
	width: 28%;
	padding: 3rem 3rem 3rem 0;
	@media (min-width: $lg) { display: flex; }
}

.layout-main {
	width: 100%;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 3rem 1rem;

	@media (min-width: $lg) { width: 55.75%; }
}

.sidebar-links {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.sidebar-btn {
	background: $color-primary;
	color: $color-white;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	width: 100%;
	max-width: 300px;
	margin: 0 auto;

	img {
		height: 24px;
		width: 24px;
	}

	&:hover {
		color: $color-white;
		transform: scale(1.1);
		transition: 0.5s;
	}
}

.sidebar-link {
	display: flex;
	align-items: center;
	font-weight: 600;
	color: $color-sub;
	padding: 1rem 2rem;
	@media (min-width: $md) { padding: 1rem 2.86rem; }

	img {
		height: 24px;
		width: 24px;
		filter: brightness(100%);
		margin-right: 1.5rem;
	}

	&:hover {
		@extend .sidebar-link.nuxt-link-exact-active;
	}
}

.sidebar-link.nuxt-link-exact-active {
	background: $color-line;
	color: $color-dark;

	img {
		filter: brightness(60%);
	}
}

.page-content {
	background: $color-white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 20px rgba($color-dark, 0.07);
	@media (min-width: $md) {
		padding: 1rem;
		border-radius: 0.75rem;
	}
	@media (min-width: $lg) {
		padding: 1.5rem;
		border-radius: 1rem;
	}

	& + & {
		margin-top: 0.5rem;
		@media (min-width: $md) {
			margin-top: 0.75rem;
		}
		@media (min-width: $lg) {
			margin-top: 1rem;
		}
	}
}

.menu-background {
	height: vh(100);
	background: $color-dark;
}

.menu {
	background: $color-white;
	width: clamp(300px, 100%, 360px);
}

.menu-left {
	@extend .menu;

	left: 0;
	animation: slide-right 0.25s;
}

@keyframes slide-right {
	from {
		left: -100px;
	}

	to {
		left: 0;
	}
}

.menu-right {
	@extend .menu;

	right: 0;
	animation: slide-left 0.25s;
}

@keyframes slide-left {
	from {
		right: -100px;
	}

	to {
		right: 0;
	}
}
