$color-gold: #DAB100;
$color-red: #FF781F;
$color-blue: #062a54;
$color-green: #49DD49;
$color-accent: $color-green;
$color-white: #FEFEFE;
$color-light-grey: #E6E6E6;
$color-grey: #808080;
$color-black: #131313;
$color-black-transparent: rgba($color-black, .75);

$body-color: $color-grey;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$theme-colors: (
	'gold': $color-gold,
	'red': $color-red,
	'accent': $color-accent,
	'light-grey': $color-light-grey,
	'grey': $color-grey
);

$spacers: (
	1: .5rem,
	2: 1.0rem,
	3: 1.5rem,
	4: 2.0rem,
	5: 2.5rem,
	6: 3.0rem,
	7: 3.5rem,
	8: 4.0rem,
);
