$color-blue: #395C7F;
$color-light-blue: #EBF3FA;
$color-blue-grey: #748DA5;
$color-light-grey: #e7eef4;
$color-grey: #808080;
$color-white: #FEFEFE;
$color-black: #131313;
$color-black-transparent: rgba($color-black, .75);

$color-gold: #DAB100;
$color-red: #FF781F;
$color-green: #49DD49;
$color-accent: $color-green;

$body-color: $color-blue-grey;
$yiq-contrasted-threshold: 170;
$yiq-text-dark: $color-blue;
$yiq-text-light: $color-white;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$theme-colors: (
	'gold': $color-gold,
	'red': $color-red,
	'accent': $color-accent,
	'blue': $color-blue,
	'light-blue': $color-light-blue,
	'blue-grey': $color-blue-grey,
	'light-grey': $color-light-grey,
	'grey': $color-grey
);

$spacers: (
	quarter: .125rem,
	half: .25rem,
	1: .5rem,
	2: 1.0rem,
	3: 1.5rem,
	4: 2.0rem,
	5: 2.5rem,
	6: 3.0rem,
	7: 3.5rem,
	8: 4.0rem,
);
