$color-blue: #395C7F;
$color-light-blue: #EBF3FA;
$color-blue-grey: #748DA5;
$color-light-grey: #e7eef4;
$color-grey: #808080;
$color-white: #FEFEFE;
$color-black: #111B25;
$color-black-transparent: rgba($color-black, .75);

$color-gold: #FFD700;
$color-red: #dc3545;
$color-green: #06f352;

$body-color: $color-blue-grey;
$min-contrast-ratio: 180;
$color-contrast-dark: $color-blue;
$color-contrast-light: $color-white;

$xs: 0;
$xsm: 360px;
$sm: 576px;
$md: 800px;
$lg: 1200px;
$xl: 1500px;

$grid-breakpoints: (
	xs: $xs,
	xsm: $xsm,
	sm: $sm,
	md: $md,
	lg: $lg,
	xl: $xl
);

$theme-colors: (
	'gold': $color-gold,
	'danger': $color-red,
	'success': $color-green,
	'info': #0dcaf0,
	'warning': #ffc107,
	'blue': $color-blue,
	'light-blue': $color-light-blue,
	'blue-grey': $color-blue-grey,
	'light-grey': $color-light-grey,
	'grey': $color-grey,
	'black': $color-black,
	'white': $color-white
);

$spacers: (
	n4: -2.0rem,
	n3: -1.5rem,
	n2: -1.0rem,
	n1: -.5rem,
	quarter: .125rem,
	half: .25rem,
	0: 0,
	1: .5rem,
	2: 1.0rem,
	3: 1.5rem,
	4: 2.0rem,
	5: 2.5rem,
	6: 3.0rem,
	7: 3.5rem,
	8: 4.0rem,
	9: 4.5rem,
	10: 5.0rem,
	11: 5.5rem,
	12: 6.0rem,
);
