{
  "admin": {
    "development": {
      "email": {
        "client_id": "",
        "refresh_token": "",
        "email": "",
        "client_secret": ""
      },
      "meta": {
        "domain": ""
      }
    },
    "production": {
      "email": {
        "email": "",
        "client_secret": "",
        "refresh_token": "",
        "client_id": ""
      },
      "meta": {
        "domain": ""
      }
    }
  },
  "braintree": {
    "development": {
      "public_key": "",
      "merchant_id": "",
      "private_key": ""
    },
    "production": {
      "merchant_id": "",
      "private_key": "",
      "public_key": ""
    }
  },
  "paypal": {
    "development": {
      "client_secret": "",
      "client_id": ""
    },
    "production": {
      "client_id": "",
      "client_secret": ""
    }
  },
  "mailchimp": {
    "api_key": ""
  },
  "algolia": {
    "production": {
      "api_key": "",
      "app_id": ""
    },
    "development": {
      "api_key": "",
      "app_id": ""
    }
  },
  "environment": {
    "mode": ""
  }
}
