{
  "email": {
    "client_id": "",
    "refresh_token": "",
    "email": "",
    "client_secret": ""
  },
  "braintree": {
    "public_key": "",
    "merchant_id": "",
    "private_key": ""
  },
  "paypal": {
    "client_secret": "",
    "client_id": ""
  },
  "mailchimp": {
    "api_key": "",
    "audience_id": "",
    "data_center": ""
  },
  "algolia": {
    "api_key": "",
    "app_id": ""
  },
  "firebase_config": {
    "authDomain": "",
    "databaseURL": "",
    "projectId": "",
    "storageBucket": "",
    "apiKey": "",
    "messagingSenderId": "",
    "appId": "",
    "measurementId": ""
  },
  "environment": "",
  "host": "",
  "port": 8080,
  "use_subdomain": false,
  "ssl": false
}
