{
	"email": {
		"NO_REPLY": {
			"private_key": "",
			"client_id": ""
		}
	},
	"braintree": {
		"public_key": "",
		"merchant_id": "",
		"private_key": ""
	},
	"paypal": {
		"client_secret": "",
		"client_id": ""
	},
	"mailchimp": {
		"api_key": "",
		"audience_id": "",
		"data_center": ""
	},
	"algolia": {
		"admin_api_key": "",
		"search_api_key": "",
		"app_id": ""
	},
	"firebase_client_config": {
		"auth_domain": "",
		"database_url": "",
		"project_id": "",
		"storage_bucket": "",
		"api_key": "",
		"messaging_sender_id": "",
		"app_id": "",
		"measurement_id": ""
	},
	"firebase_meta": {
		"loc_short": "",
		"loc_long": "",
		"task_email": ""
	},
	"environment": "",
	"domain": "",
	"port": 8080,
	"app_name": ""
}
