rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /answers/{id} {
            allow read: if true;
            allow create: if isAuthenticated();
			allow update, delete: if isAdmin();
        }

		match /questions/{id} {
            allow read: if true;
            allow create: if isAuthenticated();
            allow update, delete: if isAdmin();
        }

        match /sessions/{id} {
            allow read: if true;
            allow create: if isAuthenticated();
            allow update: if isMine(resource.data.tutorId) || isMine(resource.data.studentId);
            allow delete: if isAdmin();
        }

        match /users/{userId}/transactions/{id} {
        	allow read: if true;
        	allow write: if isAdmin();
        }

		match /{document=**} {
			allow read, write: if false;
		}

		function isAuthenticated() {
		    return request.auth != null;
		}

		function isAdmin() {
            return request.auth.token.isAdmin == true;
        }

        function isMine(id) {
            return request.auth.uid == id;
        }
	}
}
