rules_version = '2';
service cloud.firestore {
	match /databases/{database}/documents {
		match /answers/{id} {
            allow create: if isAuthenticated();
        }

		match /questions/{id} {
            allow create: if isAuthenticated();
        }

        match /sessions/{id} {
            allow create: if isAuthenticated();
            allow update: if isMine(resource.data.tutorId) || isMine(resource.data.studentId);
        }

        match /users/{userId}/transactions/{id} {
            allow write: if false;
        }

		match /{document=**} {
			allow read: if true;
			allow write: if false;
		}

		function isAuthenticated() {
		    return request.auth != null;
		}

		function isAdmin() {
            return request.auth.token.isAdmin == true;
        }

        function isMine(id) {
            return request.auth.uid == id;
        }
	}
}
