doctype(html)
html(lang="en")
    head
        title Sessions - Stranerd
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body(style="font-family: Roboto;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
        img(src=meta.logo, alt="", style="height:50px;")
        h1(style='color: #22DD77') Session Request
        p #{student.name} is currently requesting a #{time} session with you. Kindly proceed to stranerd to accept the session if you are free, or decline if you are busy, to avoid keeping the student waiting.

        button(style=`padding: 0.5rem 1.5rem; border-radius: 0.5rem; background: #22DD77;`)
            a(href=meta.domain, style="text-decoration:none;color: #FFFFFF;", target="__blank") Continue to Stranerd
