doctype html
html(lang="en")
	head
		title Reset Your Password
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body(style="font-family: Helvetica;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
		img(src=meta.logo, alt="", style="height:40px;")
		h3 Reset your password
		p Someone recently requested to reset the password to your Stranerd account. If it wasn't you, kindly ignore this email
		a(href=link) Click here to reset your password
