doctype html
html(lang="en")
	head
		title Verify Your Account
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
	body(style="font-family: Helvetica;margin:0;padding:1rem;width:100vw;min-height:100vh;box-sizing: border-box;")
		img(src=meta.logo, alt="", style="height:40px;")
		h3 Verify your account
		p An account was recently created on Stranerd with your email address. If it wasn't you, kindly ignore this email and the account will be deleted after 3 days.
		a(href=link) Click here to continue verification
